.bottom-footer{position: fixed;left: 0;bottom: 0;width: 100%;background-color: transparent;color: #000;text-align: center;}
.bottom-footer .footer{margin: 10px 0;line-height: 30px;}
.footer .mat-icon{position: relative;top: 2px;font-size: 14px;width: 12px;}